<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{login}} Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
	<h3>User Details view page</h3>
	<ion-list>
		<ion-item>
		  <ion-label>Followers</ion-label>
		  <ion-badge item-right>{{user.followers}}</ion-badge>
		</ion-item>
		 <ion-item>
		  <ion-label>Following</ion-label>
		  <ion-badge item-right>{{user.following}}</ion-badge>
		</ion-item>
		 <ion-item>
		  <ion-label>Repos</ion-label>
		  <ion-badge item-right>{{user.public_repos}}</ion-badge>
		</ion-item>
		 <ion-item>
		  <ion-label>Gists</ion-label>
		  <ion-badge item-right>{{user.public_gists}}</ion-badge>
		</ion-item>
	</ion-list>
</ion-content>
